body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #007BFF;
    color: white;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    margin: 30px auto;
    width: 300px;
    border-radius: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}